@import './fonts.css';
@import './tailwind.css';
@import './theme.css';

/* Smooth scrolling */
html {
  scroll-behavior: smooth;
}

/* Remove default body padding/margin */
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}